---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/accounts/962655
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
      Authorization:
      - Basic YW5ud29sZmY6SXRoYWNhVGhpbWJsZVRpbmEzMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e4fbf8a2f65449b149f65d0619b0bc4e"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - e1ceec18-a213-4e05-584f-ecf8d97ca1a7
    body:
      encoding: UTF-8
      string: '{"kind":"account","id":962655,"name":"Ann Wolff''s Projects","plan":"Free","status":"active","days_left":28,"created_at":"2017-01-30T20:49:33Z","updated_at":"2017-01-30T20:49:33Z"}'
  recorded_at: Wed, 01 Feb 2017 23:43:58 GMT
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/accounts/962655/memberships?email=jerald_brown@klingjenkins.io&initials=AW&name=Evans%20Koss
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
      Authorization:
      - Basic YW5ud29sZmY6SXRoYWNhVGhpbWJsZVRpbmEzMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12e0550fb6cdf3ff2e5a784a9617cc13"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - 922aa293-6c15-4f65-7e16-5568a6fd5ce1
    body:
      encoding: UTF-8
      string: '{"kind":"account_membership","id":1468223,"person":{"kind":"person","id":2510905,"name":"Evans
        Koss","email":"jerald_brown@klingjenkins.io","initials":"AW","username":"evansk"},"account_id":962655,"created_at":"2017-02-01T23:43:58Z","updated_at":"2017-02-01T23:43:58Z","owner":false,"admin":false,"project_creator":false,"timekeeper":false,"time_enterer":false}'
  recorded_at: Wed, 01 Feb 2017 23:43:58 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/accounts/962655/memberships
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
      Authorization:
      - Basic YW5ud29sZmY6SXRoYWNhVGhpbWJsZVRpbmEzMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"071e84c9182221141b9199320171ffcb"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - d7fbbb92-4b08-42a5-63e5-c25b8f0f827a
    body:
      encoding: UTF-8
      string: '[{"kind":"account_membership","id":2411963,"person":{"kind":"person","id":2411963,"name":"Ann
        Wolff","email":"<PIVOTAL_EMAIL_ADDRESS>","initials":"AW","username":"<PIVOTAL_USER_NAME>"},"account_id":962655,"created_at":"2017-01-30T20:49:33Z","updated_at":"2017-01-30T20:49:33Z","owner":true,"admin":false,"project_creator":false,"timekeeper":true,"time_enterer":false},{"kind":"account_membership","id":2413547,"person":{"kind":"person","id":2413547,"name":"Lucy
        Conklin","email":"lucy.conklin@gmail.com","initials":"LC","username":"lucyconklin"},"account_id":962655,"created_at":"2017-02-01T00:38:47Z","updated_at":"2017-02-01T00:38:47Z","owner":false,"admin":false,"project[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/accounts/123456789123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
      Authorization:
      - Basic YW5ud29sZmY6SXRoYWNhVGhpbWJsZVRpbmEzMA==
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - b640db1a-5e49-4813-5869-65ccf7f56e7a
    body:
      encoding: UTF-8
      string: '{"code":"unfound_resource","kind":"error","error":"The object you tried
        to access could not be found.  It may have been removed by another user, you
        may be using the ID of another object type, or you may be trying to access
        a sub-resource at the wrong point in a tree."}'
  recorded_at: Wed, 01 Feb 2017 23:43:59 GMT
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/accounts/962655/memberships?email=jacques@cronin.com&initials=AW&name=Hazle%20Prohaska
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cdf7dcee1b930aa96549c795cef467c1"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - 38a85a64-8dd1-4480-75dd-65438b5ec3b4
    body:
      encoding: UTF-8
      string: '{"kind":"account_membership","id":1468225,"person":{"kind":"person","id":2510923,"name":"Hazle
        Prohaska","email":"jacques@cronin.com","initials":"AW","username":"hazlep"},"account_id":962655,"created_at":"2017-02-01T23:47:32Z","updated_at":"2017-02-01T23:47:32Z","owner":false,"admin":false,"project_creator":false,"timekeeper":false,"time_enterer":false}'
  recorded_at: Wed, 01 Feb 2017 23:47:32 GMT
recorded_with: VCR 3.0.3
