---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/accounts/<PIVOTAL_ACCOUNT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
      Authorization:
      - Basic YW5ud29sZmY6U3dhbXBNb25zdGVyMzA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c3f695f53cee51779a153fcb52bb2fd2"'
      Status:
      - 2<PIVOTAL_MEMBERSHIP_ID><PIVOTAL_MEMBERSHIP_ID> OK
      X-Tracker-Client-Pinger-Interval:
      - 2<PIVOTAL_MEMBERSHIP_ID>
      X-Vcap-Request-Id:
      - e3e4bc<PIVOTAL_MEMBERSHIP_ID>b-5d2a-473<PIVOTAL_MEMBERSHIP_ID>-413<PIVOTAL_MEMBERSHIP_ID>-fdc33c3b8548
    body:
      encoding: UTF-8
      string: '{"kind":"account","id":<PIVOTAL_ACCOUNT_ID>,"name":"<FULL_NAME>''s
        Projects","plan":"Free","status":"active","days_left":27,"created_at":"2<PIVOTAL_MEMBERSHIP_ID>17-<PIVOTAL_MEMBERSHIP_ID>1-3<PIVOTAL_MEMBERSHIP_ID>T2<PIVOTAL_MEMBERSHIP_ID>:49:33Z","updated_at":"2<PIVOTAL_MEMBERSHIP_ID>17-<PIVOTAL_MEMBERSHIP_ID>1-3<PIVOTAL_MEMBERSHIP_ID>T2<PIVOTAL_MEMBERSHIP_ID>:49:33Z"}'
  recorded_at: Thu, 02 Feb 2017 23:00:52 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/accounts/<PIVOTAL_ACCOUNT_ID>/memberships
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
      Authorization:
      - Basic YW5ud29sZmY6U3dhbXBNb25zdGVyMzA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e97a6a9441b5e<PIVOTAL_MEMBERSHIP_ID>691a5753a5f42bd189"'
      Status:
      - 2<PIVOTAL_MEMBERSHIP_ID><PIVOTAL_MEMBERSHIP_ID> OK
      X-Tracker-Client-Pinger-Interval:
      - 2<PIVOTAL_MEMBERSHIP_ID>
      X-Vcap-Request-Id:
      - "<PIVOTAL_MEMBERSHIP_ID>d44b621-bb16-43ae-545c-1dc77b3cd19a"
    body:
      encoding: UTF-8
      string: '[{"kind":"account_membership","id":2411963,"person":{"kind":"person","id":2411963,"name":"<FULL_NAME>","email":"<PIVOTAL_EMAIL_ADDRESS>","initials":"<INITIALS>","username":"<PIVOTAL_USER_NAME>"},"account_id":<PIVOTAL_ACCOUNT_ID>,"created_at":"2<PIVOTAL_MEMBERSHIP_ID>17-<PIVOTAL_MEMBERSHIP_ID>1-3<PIVOTAL_MEMBERSHIP_ID>T2<PIVOTAL_MEMBERSHIP_ID>:49:33Z","updated_at":"2<PIVOTAL_MEMBERSHIP_ID>17-<PIVOTAL_MEMBERSHIP_ID>1-3<PIVOTAL_MEMBERSHIP_ID>T2<PIVOTAL_MEMBERSHIP_ID>:49:33Z","owner":true,"admin":false,"project_creator":false,"timekeeper":true,"time_enterer":false},{"kind":"account_membership","id":2548239,"person":{"kind":"person","id":2548239,"name":"Larue
        Mohr","email":"laney.hoeger@senger.name","initials":"LM","username":"laruem"},"account_id":<PIVOTAL_ACCOUNT_ID>,"created_at":"2<PIVOTAL_MEMBERSHIP_ID>17-<PIVOTAL_MEMBERSHIP_ID>2-<PIVOTAL_MEMBERSHIP_ID>2T22:55:56Z","updated_at":"2<PIVOTAL_MEMBERSHIP_ID>17-<PIVOTAL_MEMBERSHIP_ID>2-<PIVOTAL_MEMBERSHIP_ID>2T22:55:56Z","owner":false,"admin":false,"project_creator":false,"timekeeper":false,"time_enterer":false}]'
  recorded_at: Thu, 02 Feb 2017 23:00:52 GMT
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/accounts/<PIVOTAL_ACCOUNT_ID>/memberships?email=laney.hoeger@senger.name&initials=LM&name=Larue%2<PIVOTAL_MEMBERSHIP_ID>Mohr
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
      Authorization:
      - Basic YW5ud29sZmY6U3dhbXBNb25zdGVyMzA=
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 4<PIVOTAL_MEMBERSHIP_ID><PIVOTAL_MEMBERSHIP_ID> Bad Request
      X-Tracker-Client-Pinger-Interval:
      - 2<PIVOTAL_MEMBERSHIP_ID>
      X-Vcap-Request-Id:
      - df<PIVOTAL_MEMBERSHIP_ID>5789<PIVOTAL_MEMBERSHIP_ID>-545a-41dd-4b46-c1fe8e2f57b4
    body:
      encoding: UTF-8
      string: '{"code":"invalid_parameter","kind":"error","error":"One or more request
        parameters was missing or invalid.","general_problem":"Member already exists."}'
  recorded_at: Thu, 02 Feb 2017 23:00:53 GMT
recorded_with: VCR 3.0.3
