---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/accounts/962655
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
      Authorization:
      - Basic YW5ud29sZmY6SXRoYWNhVGhpbWJsZVRpbmEzMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"e4fbf8a2f65449b149f65d0619b0bc4e"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - e1ceec18-a213-4e05-584f-ecf8d97ca1a7
    body:
      encoding: UTF-8
      string: '{"kind":"account","id":962655,"name":"Ann Wolff''s Projects","plan":"Free","status":"active","days_left":28,"created_at":"2017-01-30T20:49:33Z","updated_at":"2017-01-30T20:49:33Z"}'
  recorded_at: Wed, 01 Feb 2017 23:43:58 GMT
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/accounts/962655/memberships?email=jerald_brown@klingjenkins.io&initials=AW&name=Evans%20Koss
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
      Authorization:
      - Basic YW5ud29sZmY6SXRoYWNhVGhpbWJsZVRpbmEzMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"12e0550fb6cdf3ff2e5a784a9617cc13"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - 922aa293-6c15-4f65-7e16-5568a6fd5ce1
    body:
      encoding: UTF-8
      string: '{"kind":"account_membership","id":1468223,"person":{"kind":"person","id":2510905,"name":"Evans
        Koss","email":"jerald_brown@klingjenkins.io","initials":"AW","username":"evansk"},"account_id":962655,"created_at":"2017-02-01T23:43:58Z","updated_at":"2017-02-01T23:43:58Z","owner":false,"admin":false,"project_creator":false,"timekeeper":false,"time_enterer":false}'
  recorded_at: Wed, 01 Feb 2017 23:43:58 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/accounts/962655/memberships
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
      Authorization:
      - Basic YW5ud29sZmY6SXRoYWNhVGhpbWJsZVRpbmEzMA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"071e84c9182221141b9199320171ffcb"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - d7fbbb92-4b08-42a5-63e5-c25b8f0f827a
    body:
      encoding: UTF-8
      string: '[{"kind":"account_membership","id":2411963,"person":{"kind":"person","id":2411963,"name":"Ann
        Wolff","email":"<PIVOTAL_EMAIL_ADDRESS>","initials":"AW","username":"<PIVOTAL_USER_NAME>"},"account_id":962655,"created_at":"2017-01-30T20:49:33Z","updated_at":"2017-01-30T20:49:33Z","owner":true,"admin":false,"project_creator":false,"timekeeper":true,"time_enterer":false},{"kind":"account_membership","id":2413547,"person":{"kind":"person","id":2413547,"name":"Lucy
        Conklin","email":"<PIVOTAL_EMAIL_ADDRESS>","initials":"LC","username":"<PIVOTAL_USER_NAME>"},"account_id":962655,"created_at":"2017-02-01T00:38:47Z","updated_at":"2017-02-01T00:38:47Z","owner":false,"admin":false[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/accounts/123456789123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
      Authorization:
      - Basic YW5ud29sZmY6SXRoYWNhVGhpbWJsZVRpbmEzMA==
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - b640db1a-5e49-4813-5869-65ccf7f56e7a
    body:
      encoding: UTF-8
      string: '{"code":"unfound_resource","kind":"error","error":"The object you tried
        to access could not be found.  It may have been removed by another user, you
        may be using the ID of another object type, or you may be trying to access
        a sub-resource at the wrong point in a tree."}'
  recorded_at: Wed, 01 Feb 2017 23:43:59 GMT
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/accounts/962655/memberships?email=jacques@cronin.com&initials=AW&name=Hazle%20Prohaska
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"cdf7dcee1b930aa96549c795cef467c1"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - 38a85a64-8dd1-4480-75dd-65438b5ec3b4
    body:
      encoding: UTF-8
      string: '{"kind":"account_membership","id":1468225,"person":{"kind":"person","id":2510923,"name":"Hazle
        Prohaska","email":"jacques@cronin.com","initials":"AW","username":"hazlep"},"account_id":962655,"created_at":"2017-02-01T23:47:32Z","updated_at":"2017-02-01T23:47:32Z","owner":false,"admin":false,"project_creator":false,"timekeeper":false,"time_enterer":false}'
  recorded_at: Wed, 01 Feb 2017 23:47:32 GMT
[...]
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/accounts/962663/memberships?email=haley.gutmann@veum.biz&initials=AW&name=Mrs.%20Mia%20Bergstrom
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
      Authorization:
      - Basic bHVjeWNvbmtsaW46UG9uaWV6NDQ0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5b18c54912421640ea3ea1074f2a84d3"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - 08a35173-d55e-41c9-6250-e1817f6e892a
    body:
      encoding: UTF-8
      string: '{"kind":"account_membership","id":1468819,"person":{"kind":"person","id":2548035,"name":"Mrs.
        Mia Bergstrom","email":"haley.gutmann@veum.biz","initials":"AW","username":"mrsmia"},"account_id":962663,"created_at":"2017-02-02T20:26:07Z","updated_at":"2017-02-02T20:26:07Z","owner":false,"admin":false,"project_creator":false,"timekeeper":false,"time_enterer":false}'
  recorded_at: Thu, 02 Feb 2017 20:26:07 GMT
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/accounts/962663/memberships?email=marietta@christiansen.io&initials=AW&name=Elva%20Mayert
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ddf5db5d558618a6478b3da1ce602e2e"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - e4180126-59b1-4c66-6921-fc91b7ac959e
    body:
      encoding: UTF-8
      string: '{"kind":"account_membership","id":1468821,"person":{"kind":"person","id":2548037,"name":"Elva
        Mayert","email":"marietta@christiansen.io","initials":"AW","username":"elvam"},"account_id":962663,"created_at":"2017-02-02T20:26:29Z","updated_at":"2017-02-02T20:26:29Z","owner":false,"admin":false,"project_creator":false,"timekeeper":false,"time_enterer":false}'
  recorded_at: Thu, 02 Feb 2017 20:26:29 GMT
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/accounts/962663/memberships?email=rosalinda_casper@goldnerrau.io&initials=AW&name=Janet%20Wolf%20III
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
      Authorization:
      - Basic bHVjeWNvbmtsaW46UG9uaWV6NDQ0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7c67413ed1c6fe5f234cbe62c6f6ac7e"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - 77c3ff50-c322-4945-42f8-9319f652a2bb
    body:
      encoding: UTF-8
      string: '{"kind":"account_membership","id":1468825,"person":{"kind":"person","id":2548039,"name":"Janet
        Wolf III","email":"rosalinda_casper@goldnerrau.io","initials":"AW","username":"janetwolf"},"account_id":962663,"created_at":"2017-02-02T20:26:58Z","updated_at":"2017-02-02T20:26:58Z","owner":false,"admin":false,"project_creator":false,"timekeeper":false,"time_enterer":false}'
  recorded_at: Thu, 02 Feb 2017 20:26:58 GMT
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/accounts/962663/memberships?email=guido_herman@kuvalisbruen.co&initials=AW&name=Mrs.%20Benedict%20Rolfson
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f9d1c32f46bff8c88ef915090e554bf7"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - 06449a84-11ac-46e9-47b5-24bd938a8038
    body:
      encoding: UTF-8
      string: '{"kind":"account_membership","id":1468829,"person":{"kind":"person","id":2548043,"name":"Mrs.
        Benedict Rolfson","email":"guido_herman@kuvalisbruen.co","initials":"AW","username":"mrsb"},"account_id":962663,"created_at":"2017-02-02T20:31:15Z","updated_at":"2017-02-02T20:31:15Z","owner":false,"admin":false,"project_creator":false,"timekeeper":false,"time_enterer":false}'
  recorded_at: Thu, 02 Feb 2017 20:31:15 GMT
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/accounts/962663/memberships?email=gregorio.heathcote@ruel.co&initials=AW&name=Violet%20Gerhold%20PhD
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"aac1829a093592c2b7fc9e098cad30a5"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - 43ba1532-7ab9-4375-553f-e92cfb35d440
    body:
      encoding: UTF-8
      string: '{"kind":"account_membership","id":1468839,"person":{"kind":"person","id":2548055,"name":"Violet
        Gerhold PhD","email":"gregorio.heathcote@ruel.co","initials":"AW","username":"violetgerhold"},"account_id":962663,"created_at":"2017-02-02T20:33:52Z","updated_at":"2017-02-02T20:33:52Z","owner":false,"admin":false,"project_creator":false,"timekeeper":false,"time_enterer":false}'
  recorded_at: Thu, 02 Feb 2017 20:33:52 GMT
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/accounts/962663/memberships?email=leslie.wyman@armstrong.net&initials=AW&name=Mr.%20Junior%20Olson
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
      Authorization:
      - Basic bHVjeWNvbmtsaW46UG9uaWV6NDQ0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f539bf3bafcb821aa624ca22e8fc1485"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - 84d84f52-a5c0-4e23-6b1b-66b03cd3e9b1
    body:
      encoding: UTF-8
      string: '{"kind":"account_membership","id":1468873,"person":{"kind":"person","id":2548109,"name":"Mr.
        Junior Olson","email":"leslie.wyman@armstrong.net","initials":"AW","username":"mrjunior"},"account_id":962663,"created_at":"2017-02-02T20:52:40Z","updated_at":"2017-02-02T20:52:40Z","owner":false,"admin":false,"project_creator":false,"timekeeper":false,"time_enterer":false}'
  recorded_at: Thu, 02 Feb 2017 20:52:40 GMT
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v5/accounts/962663/memberships?email=katelyn_wisozk@bogangerlach.io&initials=AW&name=Johnathan%20Langworth%20Jr.
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"52c23f0cbb33345e67fc8f2e295b381c"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - 41e6513e-092e-49b1-49dc-19404e9bf51a
    body:
      encoding: UTF-8
      string: '{"kind":"account_membership","id":1468895,"person":{"kind":"person","id":2548149,"name":"Johnathan
        Langworth Jr.","email":"katelyn_wisozk@bogangerlach.io","initials":"AW","username":"johnathanlangworth"},"account_id":962663,"created_at":"2017-02-02T21:36:38Z","updated_at":"2017-02-02T21:36:38Z","owner":false,"admin":false,"project_creator":false,"timekeeper":false,"time_enterer":false}'
  recorded_at: Thu, 02 Feb 2017 21:36:38 GMT
recorded_with: VCR 3.0.3
