---
http_interactions:
- request:
    method: get
    uri: https://<PIVOTAL_USER_NAME>:<PIVOTAL_PASSWORD>@www.pivotaltracker.com/services/v5/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - '"79ea71d859d97b484db548ff04dfa35d"'
    body:
      encoding: UTF-8
      string: |-
        {
          "kind": "me",
          "initials": "JN",
          "username": "<PIVOTAL_USER_NAME>",
          "api_token": "<PIVOTAL_API_TOKEN>",
          "name": "Jason Noble",
          "time_zone": {
            "kind": "time_zone",
            "olson_name": "America/Los_Angeles",
            "offset": "-07:00"
          },
          "autosave": false,
          "id": 30310,
          "has_google_identity": false,
          "projects": [
            {
              "role": "owner",
              "kind": "membership_summary",
              "project_name": "My Sample Project",
              "project_id": 481145,
              "id": 1655853,
              "last_viewed_at": "2013-08-06T00:02:41Z"
            },
            {
              "role": "owner",
              "kind": "membership_summary",
              "project_name": "My Sample Project 2",
              "project_id": 885256,
              "id": 3355310,
              "last_viewed_at": "2013-08-06T00:02:09Z"
            },
            {
              "role": "owner",
              "kind": "membership_summary",
              "project_name": "My Sample Project 3",
              "project_id": 885258,
              "id": 3355312,
              "last_viewed_at": "2013-08-06T00:02:24Z"
            }
          ],
          "email": "<PIVOTAL_EMAIL_ADDRESS>"
        }
  recorded_at: Tue, 06 Aug 2013 00:02:43 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
      Authorization:
      - Basic cGl2b3RhbHRyYWNrZXIxMjE6b1BiVlE5VWYxTA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"da3c0416b3e539e99b9d25fb1764ade6"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - cbdaf5ac-99d1-4546-6f40-c6b869ca65ca
    body:
      encoding: UTF-8
      string: '{"kind":"me","id":861657,"name":"Pivotal Tracker API Gem","initials":"PTAG","username":"<PIVOTAL_USER_NAME>","time_zone":{"kind":"time_zone","olson_name":"America/Los_Angeles","offset":"-08:00"},"api_token":"<PIVOTAL_API_TOKEN>","has_google_identity":false,"projects":[{"kind":"membership_summary","id":2620631,"project_id":708251,"project_name":"Pivotal
        Tracker API Gem","project_color":"74a4d7","favorite":false,"role":"owner","last_viewed_at":"2017-01-30T18:28:44Z"},{"kind":"membership_summary","id":2620635,"project_id":708253,"project_name":"My
        new tracker project","project_color":"e46642","favorite":false,"role":"owner","last_viewed_at":"2012-12-10T06:14:35Z"}],"email":"<PIVOTAL_EMAIL_ADDRESS>","receives_in_app_notifications":true,"created_at":"2012-12-10T02:08:07Z","updated_at":"2017-01-30T20:35:45Z"}'
  recorded_at: Mon, 30 Jan 2017 20:38:24 GMT
recorded_with: VCR 3.0.3
