---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"73bc1290683f95ac15689b16517f07fd"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - f2d8e52f-baec-477c-4a46-95f39c27fccd
    body:
      encoding: UTF-8
      string: '[{"id":<PIVOTAL_PROJECT_ID>,"kind":"project","name":"Gem RSpec Project","version":5,"iteration_length":1,"week_start_day":"Monday","point_scale":"0,1,2,3","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":true,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"America/Los_Angeles","offset":"-08:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":12,"has_google_domain":false,"enable_incoming_emails":true,"initial_velocity":10,"public":true,"atom_enabled":false,"project_type":"public","start_time":"2017-01-30T08:00:00Z","created_at":"2017-01-30T21:36:49Z","updated_at":"2017-01-30T21:36:49Z","account_id":470491,"current_iteration_number":1,"enable_following":true}]'
  recorded_at: Mon, 30 Jan 2017 22:00:51 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/<PIVOTAL_PROJECT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5e34e9b41c9f56f2e23aa2fb3dfe1f98"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Tracker-Project-Version:
      - '5'
      X-Vcap-Request-Id:
      - cba77600-1d1a-45bf-4911-29c6e3435add
    body:
      encoding: UTF-8
      string: '{"id":<PIVOTAL_PROJECT_ID>,"kind":"project","name":"Gem RSpec Project","version":5,"iteration_length":1,"week_start_day":"Monday","point_scale":"0,1,2,3","point_scale_is_custom":false,"bugs_and_chores_are_estimatable":false,"automatic_planning":true,"enable_tasks":true,"time_zone":{"kind":"time_zone","olson_name":"America/Los_Angeles","offset":"-08:00"},"velocity_averaged_over":3,"number_of_done_iterations_to_show":12,"has_google_domain":false,"enable_incoming_emails":true,"initial_velocity":10,"public":true,"atom_enabled":false,"project_type":"public","start_time":"2017-01-30T08:00:00Z","created_at":"2017-01-30T21:36:49Z","updated_at":"2017-01-30T21:36:49Z","account_id":470491,"current_iteration_number":1,"enable_following":true}'
  recorded_at: Mon, 30 Jan 2017 22:00:53 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/123456789123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
      Authorization:
      - Basic bHVjeWNvbmtsaW46UG9uaWV6NDQ0
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - 1054f05f-d83d-469c-63d6-0c7b3ab6368e
    body:
      encoding: UTF-8
      string: '{"code":"unfound_resource","kind":"error","error":"The object you tried
        to access could not be found.  It may have been removed by another user, you
        may be using the ID of another object type, or you may be trying to access
        a sub-resource at the wrong point in a tree."}'
  recorded_at: Mon, 30 Jan 2017 22:02:15 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/<PIVOTAL_PROJECT_ID>/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
      Authorization:
      - Basic bHVjeWNvbmtsaW46UG9uaWV6NDQ0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d751713988987e9331980363e24189ce"'
      Status:
      - 200 OK
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Returned:
      - '0'
      X-Tracker-Pagination-Total:
      - '0'
      X-Tracker-Project-Version:
      - '5'
      X-Vcap-Request-Id:
      - 13d8fb59-724a-4441-7b73-be300fc98243
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 30 Jan 2017 22:02:15 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
      Authorization:
      - Basic YW5ud29sZmY6U3dhbXBNb25zdGVyMzA=
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - 56a88883-a7c0-4b1b-6546-1c69ce626cbc
    body:
      encoding: UTF-8
      string: '{"code":"invalid_authentication","kind":"error","error":"Invalid authentication
        credentials were presented.","possible_fix":"Verify that your token value
        matches what''s shown on your Profile page in Tracker."}'
  recorded_at: Thu, 02 Feb 2017 22:11:22 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<PIVOTAL_API_TOKEN>"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
      X-Tracker-Client-Pinger-Interval:
      - '20'
      X-Vcap-Request-Id:
      - b2aa8ded-4045-4413-7425-ec286fb11fcf
    body:
      encoding: UTF-8
      string: '{"code":"invalid_authentication","kind":"error","error":"Invalid authentication
        credentials were presented.","possible_fix":"Verify that your token value
        matches what''s shown on your Profile page in Tracker."}'
  recorded_at: Thu, 02 Feb 2017 22:17:52 GMT
recorded_with: VCR 3.0.3
